{% extends './layouts/base.html' %} {% block content %}
<section id="login" class="w-full h-[100vh] flex justify-center items-center">
  <form
    method="post"
    action="{{  url_for('login')  }}"
    id="container"
    class="w-[40%] bg-gradient-to-b from-[#ffffff] to-[#dfe9f3] p-[5%] shadow-md"
  >
    {{ form.csrf_token }}
    <p class="mb-6 font-bold text-4xl">Welcome Back</p>
    <div id="input-row" class="">
      <div class="relative w-full">
        {{ form.username( class="w-full peer block border-zinc-400 border-b-2
        px-4 pb-1 pt-6 focus:border-b-navy-blue focus:outline-none" ) }}
        <label
          for="full-name"
          class="absolute text-zinc-400 left-4 top-4 origin-[0] -translate-y-3 scale-75 duration-150 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-3 peer-focus:scale-75"
          >Username</label
        >
      </div>
    </div>
    <div id="input-row" class="my-5">
      <div class="relative w-full">
        {{ form.password( class="w-full peer block border-zinc-400 border-b-2
        px-4 pb-1 pt-6 focus:border-b-navy-blue focus:outline-none" )}}
        <label
          for="full-name"
          class="absolute text-zinc-400 left-4 top-4 origin-[0] -translate-y-3 scale-75 duration-150 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-3 peer-focus:scale-75"
          >Password</label
        >
      </div>
    </div>
    {{ form.submit( class="bg-navy-blue text-base w-full my-5 py-4
    text-main-color rounded-2xl cursor-pointer hover:text-gold hover:border-2
    hover:border-navy-blue hover:bg-transparent transition duration-500" )}}
    <a
      href="{{  url_for('index')  }} "
      class="w-full text-center text-navy-blue hover:text-gold"
      >Go Back</a
    >
  </form>
</section>
{% endblock %}
